.login{
    height: 100vh;
    background-color: rgb(193, 190,255);
    display:flex;
    align-items: center;
    justify-content: center;
    .card{
        display: flex;
        width: 50%;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            min-height: 600px;
            overflow: hidden;

        .left{
            flex: 1;
            background: linear-gradient(rgba(39,11,96,0.5),rgba(39,11,96,0.5)), url("https://images.unsplash.com/photo-1548705085-101177834f47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8aGFwcHklMjBwZW9wbGV8ZW58MHx8MHx8fDA%3D&w=1000&q=80") center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;
            
            h1{

                font-size: 50px;
                line-height: 50px;
            }
            p{}
            span{
                font-size: 15px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;

            }
        }

        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            h1{
                color: rebeccapurple;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                    cursor:pointer;
                }
            }


        }
    }
}